table {
    border: 1px solid black;
    table-layout: fixed;
    width: 200px;
}

.dataTables_wrapper {
    overflow: auto;
}

.list-title {
    display: flex;
    justify-content: space-between;
}

.actionBtn {
    width: 210px;
}