.main-content {
    flex-direction: row;
    width: 70%;
    margin: auto;
}


.button-direct {
    width: 70%;
    display: flex;
    justify-content: flex-end;
    margin: 10px auto;
}

.file-upload {
    display: flex;
    justify-content: center;
}